<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login Page</title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
     <div class="container my-2" align="center">
    <h1>User Registration</h1>
    <form action="#" th:action="@{/register}" method="post" th:object="${user}">
        <label>Login Id:</label>
        <input type="text" th:field="*{loginId}" /><br/>
 
        <label>Password:</label>
        <input type="text" th:field="*{password}" /><br/>
        <button type="submit">Login</button>
    </form>
    </div>
</body>
</html>